body {
    width: 80%;
    margin: auto;
    font-family: "Candara Light", sans-serif;
    font-size: large;
}

#titular {
    text-align: center;
    font-variant: small-caps;
}

.section {
    padding: 24px 0 24px 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 16px;
    text-align: justify;
    div {
        padding: 8px;
        hyphens: auto;
    }
}