body
{
    width: 60vw;
    margin: 32px auto;
    font-family: "Candara Light", sans-serif;
    font-size: large;
}

#titular
{
    text-align: center;
    font-variant: small-caps;
}


#section
{
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 8px));
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    text-align: justify;
    hyphens: auto;
}

#section div
{
    padding: 24px;
    box-shadow: lightgray 5px 5px 10px;
    line-height: 1.5em;
    border: lightgray 1px solid;
    border-radius: 20px;
}

#section#color
{
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-column: 1 / 2 span;
    box-shadow: none;
    border: lightgray 1px solid;
    border-radius: 0;
}

#section#color div
{
    cursor: pointer;
    width: 50%;
    height: 6vh;
    margin: auto;
    box-shadow: none;
    border: none;
    border-radius: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

#section
{
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 8px));
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    text-align: justify;
    hyphens: auto;

    div
    {
        padding: 24px;
        box-shadow: lightgray 5px 5px 10px;
        line-height: 1.5em;
        border: lightgray 1px solid;
        border-radius: 20px;
    }

    #color
    {
        padding: 16px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-column: 1 / 2 span;
        box-shadow: none;
        border: lightgray 1px solid;
        border-radius: 0;

        div
        {
            cursor: pointer;
            width: 50%;
            height: 6vh;
            margin: auto;
            box-shadow: none;
            border: none;
            border-radius: 0;
            text-align: center;
            transition: all 0.3s ease-in-out;
        }

        div:hover
        {
            width: calc(50% - 8px);
            height: 5.5vh;
        }
    }
}

div.driver-popover.custom
{
    --set-border-color: white;
    font-family: "Candara Light", sans-serif;
    background-color: var(--set-border-color);

    .driver-popover-navigation-btns
    {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .driver-popover-next-btn, .driver-popover-prev-btn
    {
        padding: 4px;
        font-family: inherit;
        font-size: medium;
        transition: all 0.1s ease;
        text-align: center;
    }

    .driver-popover-next-btn:hover
    {
        background-color: darkgray;
        color: white;
    }

    .driver-popover-prev-btn:hover
    {
        background-color: black;
        color: white;
    }

    .driver-popover-title
    {
        font-family: "Arial", sans-serif;
        font-size: x-large;
        font-weight: bolder;
    }

    .driver-popover-description
    {
        font-family: inherit;
        font-size: medium;
        text-align: justify;
        hyphens: auto;
        line-height: 1.5em;
        font-weight: bold;
    }

    .driver-popover-arrow-side-left.driver-popover-arrow {
        border-left-color: var(--set-border-color);
    }
}